[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pyaml = "*"
python-dateutil = "*"
motor = "*"
dnspython = "*"
web3 = "*"
table2ascii = "*"
aiohttp = ">=3.10.2"

[dev-packages]
pylint-runner = "*"
flake8 = "*"
pytest = "*"

[scripts]
start = "python -m src"
lint = "pylint_runner"
act = "python actions/schedule.py"

[requires]
python_version = "3.9"
