[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pyaml = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dateutil = "*"
dhooks = "*"
pynacl = "*"
motor = "*"
dnspython = "*"
web3 = "*"
table2ascii = "*"

[dev-packages]
pylint-runner = "*"
flake8 = "*"
pytest = "*"

[scripts]
start = "python -m src"
lint = "pylint_runner"
act = "python actions/schedule.py"

[requires]
python_version = "3.9"
